## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,42.46,93,75,8.05,broken clouds
1,1,Albany,US,42.6001,-73.9662,79.45,73,0,5.01,clear sky
2,2,Moses Lake,US,47.1301,-119.2781,61.48,18,0,9.22,clear sky
3,3,Pinhao,BR,-25.6956,-51.6597,51.91,96,7,3.18,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,72.55,95,100,5.75,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Albany,US,42.6001,-73.9662,79.45,73,0,5.01,clear sky
4,4,Puerto Ayora,EC,-0.7393,-90.3518,72.55,95,100,5.75,overcast clouds
7,7,Butaritari,KI,3.0707,172.7902,80.85,73,47,8.03,scattered clouds
8,8,Rikitea,PF,-23.1203,-134.9692,77.61,72,5,18.28,clear sky
9,9,Samarai,PG,-10.6167,150.6667,84.11,73,17,5.19,few clouds
12,12,Puerto Escondido,MX,15.8500,-97.0667,86.83,70,0,6.91,clear sky
15,15,Hasaki,JP,35.7333,140.8333,70.29,95,100,26.98,heavy intensity rain
16,16,Vaini,TO,-21.2000,-175.2000,78.96,65,20,13.80,few clouds
18,18,Guymon,US,36.6828,-101.4816,84.20,13,0,3.44,clear sky
21,21,Baglung,NP,28.2719,83.5898,71.74,74,39,1.90,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                285
City                   285
Country                285
Lat                    285
Lng                    285
Max Temp               285
Humidity               285
Cloudiness             285
Wind Speed             285
Current Description    285
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# There don't appear to be any empty rows

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Albany,US,79.45,clear sky,42.6001,-73.9662,
4,Puerto Ayora,EC,72.55,overcast clouds,-0.7393,-90.3518,
7,Butaritari,KI,80.85,scattered clouds,3.0707,172.7902,
8,Rikitea,PF,77.61,clear sky,-23.1203,-134.9692,
9,Samarai,PG,84.11,few clouds,-10.6167,150.6667,
12,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,
15,Hasaki,JP,70.29,heavy intensity rain,35.7333,140.8333,
16,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,
18,Guymon,US,84.20,clear sky,36.6828,-101.4816,
21,Baglung,NP,71.74,scattered clouds,28.2719,83.5898,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    


    # 6c. Get latitude and longitude from DataFrame

    lat = row["Lat"]
    lng = row["Lng"]
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
# The idea for this method of replacing empty cells with NaNs taken from StackOverflow https://stackoverflow.com/questions/29314033/drop-rows-containing-empty-cells-from-a-pandas-dataframe
import numpy as np
hotel_df['Hotel Name'].replace("",np.nan, inplace=True)
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Puerto Ayora,EC,72.55,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Butaritari,KI,80.85,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
8,Rikitea,PF,77.61,clear sky,-23.1203,-134.9692,People ThankYou
9,Samarai,PG,84.11,few clouds,-10.6167,150.6667,Nuli Sapi
12,Puerto Escondido,MX,86.83,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
...,...,...,...,...,...,...,...
681,Malindi,KE,79.43,clear sky,-3.2175,40.1191,African House Resort
683,Eyl,SO,83.95,overcast clouds,7.9803,49.8164,Amiin Hotel
685,Banda Aceh,ID,82.90,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
686,Bensonville,LR,77.11,overcast clouds,6.4461,-10.6125,Moinga
692,Sao Miguel,BR,75.97,overcast clouds,-5.4667,-35.3667,CEJ - Centro Escoteiro da Juventude

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
# Add a map for the vacation spots and a pop-up marker for each hotel.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))